/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* COMMON */
body {
    font-family: 'Roboto', sans-serif;    
}

a {
    color: grey;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* container */
.container {
    max-width: 1000px;
    margin: auto;    
}


/* nav container */
.nav-container {
    padding: 30px 0;
    display: flex;
}
/* logo container */
.logo-container {
    width: 10%;
}

/* NAV */
nav {
    width: 90%;
    line-height: 30px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
}

.link-menu > li {
    display: inline-block;
    padding-left: 25px;
}

.link-menu li a:hover {
    color: black;
}

.left-menu li a {
    text-transform: uppercase;
}

#download-btn {
    background-color: darkmagenta;
    border-radius: 10px;
    color: white;
    border: 0;
    padding: 10px 20px
}

/* dropdown menu */
.with-dropdown {
    position: relative;
}

.dropdown {
    /* to to */
    display: none;
    position: absolute;
    top: 100%;
    left:0;
    width: max-content;
    box-shadow: 0px 0px 11px #888888;
    border-radius: 9px;
}

.dropdown.active {
    display: block;
}

.dropdown-menu li {
    display: block;
    padding: 10px 20px;
}
